@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif;
}

body {
  background: black;
  
}

h1,
h4,
a,
p {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(151, 231, 52);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  color: #fff;
}

.hamburger {
  display: none;
}

@media screen and (max-width:1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0);
    position: absolute;
    top: 0;
    left: -100%;
    /* used to hide the content with -100% */
    z-index: -3;
    transition: 0.3s;
  }
  

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu li a {
    font-size: 2rem;
    /* padding: 1rem; */
  }

  .hamburger {
    display: initial;
  }
}